// Custom styles.

// 顶部banner背景
.header { 
  background: #0ff url("/images/banner.jpg") no-repeat;
}

// menu 菜单
.menu{
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
  background: rgba(255,255,255,0.7);
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  border-radius: initial;
}

// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// 鼠标样式
/*
* {
    cursor: url("/images/cursor.ico"),auto!important
  }
  :active {
    cursor: url("/images/cursor.ico"),auto!important
  }
*/
